doctype html
html
  head
    title Error
    meta(charset="utf-8")
    link(rel="icon", href="/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/w3.css")
  body
    .w3-container
      p #{d}: Error: #{errorMessage}
      a.w3-btn.w3-round.w3-grey(href="/") Back